{% extends 'base.html.twig' %}

{% block title %}Track index{% endblock %}

{% block body %}
    <h1>Track index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                    {% else %}
                    <th>N°</th>
                {% endif %}
                <th>Name</th>
                <th>Duration</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>File</th>
                    <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track.id }}</td>
                <td><a href="{{ path('track_show', {'id': track.id}) }}">{{ track.name }}</a></td>
                <td>{{ track.duration ? track.duration|date('H:i:s') : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ track.file }}</td>
                    <td>
                        <a href="{{ path('track_show', {'id': track.id}) }}">show</a>
                        <a href="{{ path('track_edit', {'id': track.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('track_new') }}">Create new</a>
    {% endif %}
{% endblock %}
