{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}
{% block js %}
    <script src="{{ asset('js/audiojs/audio.min.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Track</h1>
    <h2>{{ track.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ track.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ track.name }}</td>
            </tr>
            <tr>
                <th>Album</th>
                <td>{% if track.album is empty %}
                        No Album
                    {% else %}
                        <a href="/album/{{ track.album }}" target="_blank">{{ album.name }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ track.duration ? track.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td><a href="/artiste/{{ track.artiste }}" target="_blank">{{ artiste.name }}</a></td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ track.file }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('track_index') }}">back to list</a>

    <a href="{{ path('track_edit', {'id': track.id}) }}">edit</a>

    {{ include('track/_delete_form.html.twig') }}
{#    <audio src={{ asset('music/lasgo_out_of_my_mind.mp3') }} preload="auto" />#}
    <audio src=/music{{ asset(track.file) }} preload="auto" />
    <script>
        audiojs.events.ready(function() {
            var as = audiojs.createAll();
        });
    </script>
{% endblock %}
