{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1>Album index</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% else %}
                    <th>N°</th>
                {% endif %}
                <th>Name</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td><a href="{{ path('album_show', {'id': album.id}) }}">{{ album.name }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('album_show', {'id': album.id}) }}">show</a>
                        <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('album_new') }}">Create new</a>
{% endblock %}
